{% load i18n %}{% load l10n %}<html>
<head>
<meta charset="utf-8"/>
<title>mac {% if devices %}(!){% endif %} </title>
<meta http-equiv="refresh" content="60" />
<link rel="shortcut icon"
    href="http://194.88.245.110/favicon.ico"
    type="image/x-icon" />
</head>
<body>
{% if viewer_mac %}
    <h1 class="mac_unknown_warning">{% trans "Warning!" %}</h1>
    <p class="mac_unknown">
        {% blocktrans %}
        Your MAC address <strong>{{ viewer_mac }}</strong> is not present in
        the database yet. Please send an e-mail to the website administrator
        containing your MAC address in order to add it to the database. It will
        then be displayed with your name on the list below or ignored,
        depending on your wish.
        {% endblocktrans %}
    </p>
{% endif %}
<span class="last_event">{{ last_event|localize }}</span>
{% if devices %}
<ul>
    {% for device in devices %}
    <li>
        {% if device.leaving %}
            (!)
        {% endif %}

        {% if device.vendor %}<span
                                    style="border-bottom: 1px dotted;"
                                    title="{{ device.vendor }}">{% endif %}
        {{ device.name }}{% if device.vendor %}</span>{% endif %}

        {% if device.since %}
            ({% trans "since" %} {{ device.since|date:"TIME_FORMAT" }})
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p class="nobody">{% trans "Nobody was detected." %}</p>
{% endif %}
</body>
</html>
